.modal-header .closeimg{
    border: 1px solid #171616;
    border-radius: 14px;
    position: absolute;
    right: -14px;
    text-align: center;
    top: -14px;
    display: flex;
    color: white;
    background-color: black;
    height: 28px;
    width: 28px;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    cursor: default;

}
.modal-header .closeimg:hover{
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    opacity: 1;
    transform: scale(1.5);

}